<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/gif" href="/img/giphy.gif" />
</head>

<header>
	<h1 id="MainTitle"> SMITH & JONES </h1>
</header>

<body>
	<p> Connexion </p>

	<!-- <form>
		<p> Login : <input type="text" name="login"></p>
		<p> Password : <input type="Password" name="pwd"></p>
		<button v-on:click="hop()"> LOL </button>
	</form> -->

	
	<div id="app">
		<p> Login : <input v-model="login" type="text" name="login"></p>
		<p> Password : <input v-model="pwd" type="Password" name="pwd"></p>
		<button v-on:click="hop()">HOP</button>
	</div>
	

	<script src="/js/vuejs.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>